@charset "UTF-8";
* {
margin: 0;
padding: 0;
}

body{
  text-align: center;
font-family: 'Share Tech Mono', monospace;
background: url(twinkle_twinkle.png) repeat;
background-size: contain;
}
header{
  width:800px;
  margin:36px auto;
}
h1{
font-size: 26pt;
font-weight: lighter;
letter-spacing: 8px;
color: #1EFF00;
}
h2{
  text-decoration: none;
  font-size: 20pt;
  color: #1EFF00;
  font-weight: lighter;
  text-align: left;
}
h3{
  text-align: left;
  font-size: 20pt;
  font-weight: lighter;
  padding-bottom: 7px;
}
li{
  list-style-type: none;
  text-align: left;
}
li img {
    width: 32px;
    height: 32px;
}
section{
  padding-top: 15px;
}
.exercises{
  float: left;

    padding:2%;
    width: 22.66%;
    margin-left: 5%;

}
.studios{
  float: left;
  padding:2%;
  width: 22.66%;
  margin-left: 5%;

}
.projects{
  float:left;
  padding:2%;
  width: 22.66%;
  margin-left: 5%;
}
footer{
padding-left: 5%;
  position: absolute;
  width: 100%;
  bottom: 0;
  color: #1EFF00;
  background-color: black;
  padding-bottom: 15px;

}
