* {
margin: 0;
padding: 0;
}

body{
  text-align: center;
  font-family: Avenir, sans-serif;
  color: black;
  background: url(texture.png) repeat;
background-size: contain;
}

p{
  width: 500px;
}

h1{
font-size: 26pt;
font-weight: lighter;
position: absolute;
top: 10px;
right: 10px;
font-size: 28pt;
font-weight: lighter;
letter-spacing: 8px;
color: #A66B75



}
section{
  margin-top: 30%;
  padding-left: 10%;
  padding-right: 10%;
  text-align: right;
}
header img{
  width: 100%;
}
